In [3]:
# import json
# from yahoofinancials imp\`ort YahooFinancials as YF
import time
# import datetime
import pandas as pd
# from pandas_datareader import data
from pandas_datareader import data as pdr

# import yfinance as yf
# yf.pdr_override() # <== that's all it takes :-)

# from typing import List, Optional
import os
import pickle 
from tqdm import tqdm
import scipy.stats as sp
# from utils import *
import matplotlib.pyplot as plt
# import math

%matplotlib inline

In [33]:
!pip install requests-cache

Collecting requests-cache
  Downloading requests_cache-1.1.0-py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.1/60.1 kB 17.8 kB/s eta 0:00:00 0:00:01
Requirement already satisfied: attrs>=21.2 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests-cache) (23.1.0)
Collecting cattrs>=22.2 (from requests-cache)
  Downloading cattrs-23.1.2-py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.8/50.8 kB 18.6 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: platformdirs>=2.5 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests-cache) (3.8.1)
Requirement already satisfied: requests>=2.22 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests-cache) (2.29.0)
Collecting url-normalize>=1.4 (from requests-cache)
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: urllib3>=1.25.5 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests-cache) (1.26.16)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests>=2.22->requests-cache) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests>=2.22->requests-cache) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from requests>=2.22->requests-cache) (2023.7.22)
Requirement already satisfied: six in /Users/lucasmoyer/anaconda3/envs/fin/lib/python3.11/site-packages (from url-normalize>=1.4->requests-cache) (1.16.0)
Installing collected packages: url-normalize, cattrs, requests-cache
Successfully installed cattrs-23.1.2 requests-cache-1.1.0 url-normalize-1.4.3

In [4]:
# gets stock ticket data for current day going back days_back
def getStocksData(ticker, start='2023-01-01', end='2023-09-01', save_new=False, saveToCSV=True):
    def convert_time(epoch):
        return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(epoch))

    epoch_time = int(time.time())
    day_epoch = 60*60*24
    # check if data exists, if not pull data
    print("in get stocks data")
    print(save_new)
    stock_data =  pdr.get_data_yahoo(ticker, start=start,end=end)
    stock_data = stock_data.reset_index()
    
    try:
        stock_data =  pdr.get_data_yahoo(ticker, start=start,end=end)
        # stock_data = stock_data.reset_index()
        # if (self.debug):
        #     print(f"Downloaded bars of {ticker}")
        #     print(stock_data)
        if saveToCSV:
            path = "/Users/lucasmoyer/development/two-dolla/datasets/stock_csvs"
            stock_data.to_csv(f'{path + "/" + self.ticker}.csv', index = False, encoding='utf-8') 
        self.savedBars[self.ticker] = stock_data
        with open(self.path, 'wb') as handle:
            pickle.dump(self.savedBars, handle,
                        protocol=pickle.HIGHEST_PROTOCOL)
        return stock_data
    except:
        print("Skipping stock for {}, bad data :<".format(ticker))

In [35]:
from pandas_datareader import data as pdr
import yfinance as yfin
yfin.pdr_override()
from pandas_datareader.yahoo.headers import DEFAULT_HEADERS
import datetime
import requests_cache

expire_after = datetime.timedelta(days=3)
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)
session.headers = DEFAULT_HEADERS

def getStocksData(ticker, start='2023-01-01', end='2023-09-01', save_new=False, saveToCSV=True):
    stock_data = pdr.get_data_yahoo(ticker, start=start,end=end,session=session)
    savedData[ticker] = stock_data # saved the stock data to our python dictionary
    return stock_data

data = getStocksData('T')

[*********************100%***********************]  1 of 1 completed

In [38]:
data = getStocksData('AAPL')

[*********************100%***********************]  1 of 1 completed

In [40]:
data.tail

<bound method NDFrame.tail of                   Open        High         Low       Close   Adj Close  \
Date
2023-01-03  130.279999  130.899994  124.169998  125.070000  124.374802
2023-01-04  126.889999  128.660004  125.080002  126.360001  125.657639
2023-01-05  127.129997  127.769997  124.760002  125.019997  124.325081
2023-01-06  126.010002  130.289993  124.889999  129.619995  128.899521
2023-01-09  130.470001  133.410004  129.889999  130.149994  129.426559
...                ...         ...         ...         ...         ...
2023-08-25  177.380005  179.149994  175.820007  178.610001  178.375000
2023-08-28  180.089996  180.589996  178.550003  180.190002  179.952927
2023-08-29  179.699997  184.899994  179.500000  184.119995  183.877747
2023-08-30  184.940002  187.850006  184.740005  187.649994  187.403107
2023-08-31  187.839996  189.119995  187.479996  187.869995  187.622818

               Volume
Date
2023-01-03  112117500
2023-01-04   89113600
2023-01-05   80962700
2023-01-06   87754700
2023-01-09   70790800
...               ...
2023-08-25   51449600
2023-08-28   43820700
2023-08-29   53003900
2023-08-30   60813900
2023-08-31   60794500

[167 rows x 6 columns]>

In [25]:
data

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  18.510000  18.850000  18.410000  18.740000  17.560371  42149200
2023-01-04  18.870001  19.370001  18.809999  19.139999  17.935188  43926800
2023-01-05  19.139999  19.320000  18.959999  19.209999  18.000784  31081800
2023-01-06  19.350000  19.790001  19.340000  19.530001  18.300640  36050300
2023-01-09  19.240000  19.240000  18.980000  19.040001  18.099117  51981100
...               ...        ...        ...        ...        ...       ...
2023-11-06  15.830000  15.900000  15.640000  15.750000  15.750000  32805500
2023-11-07  15.710000  15.960000  15.710000  15.840000  15.840000  26425500
2023-11-08  15.840000  15.840000  15.580000  15.650000  15.650000  28224500
2023-11-09  15.680000  15.750000  15.550000  15.630000  15.630000  26080800
2023-11-10  15.680000  15.740000  15.460000  15.640000  15.640000  23755800

[217 rows x 6 columns]

In [28]:

from pandas_datareader import data as pdr
import yfinance as yfin
yfin.pdr_override()

def getStocksData(ticker, start='1/1/2023', end='9/1/2023', save_new=False, saveToCSV=True):
    path=r"/Users/lucasmoyer/development/two-dolla/stocks.pkl"
    savedData = {}
    with open(path, 'rb') as handle:
        savedData = pickle.load(handle)

    if (save_new or ticker not in savedData):
        stock_data = pdr.get_data_yahoo(ticker, start=start,end=end)
        savedData[ticker] = stock_data # saved the stock data to our python dictionary
        with open(path, 'wb') as handle:
                    pickle.dump(savedData, handle,
                                protocol=pickle.HIGHEST_PROTOCOL)
    else:
        return savedData[ticker]
    return stock_data

data = getStocksData('T', start='2023-01-01', end='2023-09-01', save_new=False)

In [29]:
data

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  18.510000  18.850000  18.410000  18.740000  17.560369  42149200
2023-01-04  18.870001  19.370001  18.809999  19.139999  17.935188  43926800
2023-01-05  19.139999  19.320000  18.959999  19.209999  18.000784  31081800
2023-01-06  19.350000  19.790001  19.340000  19.530001  18.300644  36050300
2023-01-09  19.240000  19.240000  18.980000  19.040001  18.099117  51981100
...               ...        ...        ...        ...        ...       ...
2023-09-01  14.810000  14.860000  14.640000  14.650000  14.375374  20276800
2023-09-05  14.650000  14.750000  14.470000  14.480000  14.208561  28402900
2023-09-06  14.430000  14.750000  14.320000  14.610000  14.336123  43010100
2023-09-07  14.600000  14.760000  14.550000  14.610000  14.336123  30699100
2023-09-08  14.610000  14.610000  14.360000  14.400000  14.130060  28281300

[172 rows x 6 columns]

In [31]:
def loadData(ticker,path=r"/Users/lucasmoyer/development/two-dolla/stocks.pkl"):
    savedData = {}
    with open(path, 'rb') as handle:
        savedData = pickle.load(handle)
    return savedData[ticker]
    
        
loadData('T')

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  18.510000  18.850000  18.410000  18.740000  17.560371  42149200
2023-01-04  18.870001  19.370001  18.809999  19.139999  17.935188  43926800
2023-01-05  19.139999  19.320000  18.959999  19.209999  18.000784  31081800
2023-01-06  19.350000  19.790001  19.340000  19.530001  18.300640  36050300
2023-01-09  19.240000  19.240000  18.980000  19.040001  18.099117  51981100
...               ...        ...        ...        ...        ...       ...
2023-11-06  15.830000  15.900000  15.640000  15.750000  15.750000  32805500
2023-11-07  15.710000  15.960000  15.710000  15.840000  15.840000  26425500
2023-11-08  15.840000  15.840000  15.580000  15.650000  15.650000  28224500
2023-11-09  15.680000  15.750000  15.550000  15.630000  15.630000  26080800
2023-11-10  15.680000  15.740000  15.460000  15.640000  15.640000  23755800

[217 rows x 6 columns]

In [34]:

from pandas_datareader import data as pdr
import yfinance as yfin
yfin.pdr_override()


from pandas_datareader.yahoo.headers import DEFAULT_HEADERS

import datetime

import requests_cache

expire_after = datetime.timedelta(days=3)

session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)

session.headers = DEFAULT_HEADERS

def getStocksData(ticker, start='1/1/2023', end='9/1/2023', save_new=False, saveToCSV=True):
    path=r"/Users/lucasmoyer/development/two-dolla/stocks.pkl"
    savedData = {}
    with open(path, 'rb') as handle:
        savedData = pickle.load(handle)

    if (save_new or ticker not in savedData):
        stock_data = pdr.get_data_yahoo(ticker, start=start,end=end, session=session)
        savedData[ticker] = stock_data # saved the stock data to our python dictionary
        with open(path, 'wb') as handle:
                    pickle.dump(savedData, handle,
                                protocol=pickle.HIGHEST_PROTOCOL)
    else:
        return savedData[ticker]
    return stock_data

data = getStocksData('T', start='2023-01-01', end='2023-09-01', save_new=False)

In [ ]:

import math

def repeatedString(s, n):
    # Write your code here
    repeats = n / len(s)
    base_seq = s
    
    for x in range(math.ceil(repeats)-1):
        s = s + base_seq
    result = 0
    print(s)

    
    for x in s:
        if x == 'a':
            result = result +1
    
    return result

test = "0 0 0 1 0 0".split(" ")
test = list(map(int, test))
s = "aba"
n = 10


res = repeatedString(s,n)
res

In [7]:

import math

def repeatedString(s, n):
    # Write your code here
    base_seq = s
    while (len(s) < n):
        s = s + base_seq
    s = s[0:n]
    result = 0
    for x in s:
        if (x == 'a'):
            result = result + 1
    return result

s = "aba"
n = 10


res = repeatedString(s,n)
res

abaabaabaa

7

In [10]:

import math

def repeatedString(s, n):
    # Write your code here
    index = 0
    result = 0
    while index < n:
        if (index >= len(s)):
            exten_idx = index % len(s)
            if (s[exten_idx] == 'a'):
                result = result + 1
            index = index + 1
        else:
            if (s[index] == 'a'):
                result = result + 1
            index = index + 1
    return result

s = "aba"
n = 10


res = repeatedString(s,n)
res

7